@font-face {
  font-family: "PP Neue Montreal";
  src: url("../assets/fonts/PPNeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("../assets/fonts/PPNeueMontreal-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal Text";
  src: url("../assets/fonts/PPNeueMontrealText-Book.otf") format("opentype");
  font-weight: 375;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal Text";
  src: url("../assets/fonts/PPNeueMontrealText-BookItalic.otf")
    format("opentype");
  font-weight: 375;
  font-style: italic;
  font-display: swap;
}
:root {
  --font-neue-display: "PP Neue Montreal";
  --font-neue-reading: "PP Neue Montreal Text";
}
